.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(3, 213, 38, 0.178),rgb(0, 24, 4)),url('../../assets/hero_color.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: left;
    max-width: 50rem;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 600;
}
.hero-text p{
    margin: 1rem auto 1.2rem;
    max-width: 44rem;
    line-height: 1.4;
    color:rgb(161, 161, 161)
}

