
.pricing-card {
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding: 1.2rem;
    width: 19rem;
    margin: 1.2rem;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  .enterprise {
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding: 1.2rem;
    width: 19rem;
    margin: 1.2rem;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: #192c1a;
    color: #ddd;
  }
  .pricing-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  .pricing-card .price {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  .pricing-card ul {
    list-style: none;
    padding: 0;
  }

  .pricing-card ul li {
    margin-bottom: 0.7rem;
  }

  .pricing-card button {
    background-color: #192c1a;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.7rem 1.25rem;
    cursor: pointer;
  }
  .enterprise button {
    background-color: #fff;
    color: #192c1a;
    border: none;
    border-radius: 0.25rem;
    padding: 0.7rem 1.25rem;
    cursor: pointer;
  }
  .premium {
    margin: 5rem auto 3rem;
    max-width: 65rem;
  }
  p {
    margin: 0.5rem auto 0.5rem;
    text-align: left;
  }
  li {
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
  }
  li img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }

  /*---media query---*/
  